{
  "log": {
    "level": "info",
    "timestamp": true
  },
  "dns": {
    "optimistic": {
      "enabled": true,
      "timeout": "7d"    
    },
    "servers": [
      {
        "type": "https",
        "tag": "dns-main",
        "server": "223.6.6.6",
        "server_port": 443,
        "path": "/dns-query",
        "tls": {
          "enabled": true,
          "server_name": "__doh_sni_name__"
        }
      },
      {
        "type": "fakeip",
        "tag": "fakeip",
        "inet4_range": "198.18.0.0/15"
      }
    ],
    "rules": [
      {
        "query_type": ["AAAA"],
        "action": "predefined",
        "rcode": "NOERROR"
      },
      {
        "action": "evaluate",
        "server": "dns-main",
        "tag": "main-response"
      },
      {
        "match_response": "main-response",
        "rule_set": ["geoip-cn"],
        "action": "respond"
      },
      {
        "match_response": "main-response",
        "ip_accept_any": true,
        "action": "route",
        "server": "fakeip"
      },
      {
        "action": "route",
        "server": "fakeip"
      }
    ],
    "final": "dns-main",
    "strategy": "ipv4_only",
    "reverse_mapping": true
  },
  "inbounds": [
    {
      "type": "direct",
      "tag": "dns-in",
      "listen": "10.115.0.1",
      "listen_port": 1053
    },
    {
      "type": "tun",
      "tag": "tun-in",
      "interface_name": "vpsmgr-tun",
      "address": ["172.31.0.1/30"],
      "mtu": 1400,
      "auto_route": false,
      "strict_route": false,
      "stack": "system",
      "sniff": false,
      "endpoint_independent_nat": true
    }
  ],
  "outbounds": [
    {
      "type": "direct",
      "tag": "direct"
    },
    {
      "type": "vless",
      "tag": "proxy"
    }
  ],
  "route": {
    "default_domain_resolver": "dns-main",
    "rule_set": [
      {
        "tag": "geoip-cn",
        "type": "local",
        "format": "binary",
        "path": "/etc/sing-box/geoip-cn.srs"
      }
    ],
    "rules": [
      {
        "inbound": ["dns-in"],
        "action": "hijack-dns"
      },
      {
        "network": "udp",
        "port": 443,
        "action": "reject",
        "method": "drop"
      },
      {
        "ip_cidr": [
          "199.165.136.0/24"
        ],
        "action": "route",
        "outbound": "direct"
      },
      {
        "domain_suffix": [
          "tailscale.com"
        ],
        "action": "route",
        "outbound": "direct"
      },
      {
        "ip_is_private": true,
        "action": "route",
        "outbound": "direct"
      },
      {
        "rule_set": ["geoip-cn"],
        "action": "route",
        "outbound": "direct"
      }
    ],
    "final": "proxy",
    "auto_detect_interface": true
  },
  "experimental": {
    "cache_file": {
      "enabled": true,
      "path": "/var/lib/sing-box/cache.db",
      "store_fakeip": true,
      "store_dns": true
    }
  }
}
